#CEOs-Bg {
    @include backImage("../images/heroBg/CEOs-Bg.png", to left, 0, 0, 50% top);

    #CEOsLink {
        padding: 6rem 0;

        @include breakpoint($small) {
            padding: 12rem 0;
        }
    }
}

#CEOs-info {
    .linkContant-TextA {
        p {
            text-align: left;
            line-height: 2rem;
            padding-bottom: 1.2rem;
            padding-left: 2rem;
            font-size: 1.7rem;
        }
    }

    .floatingElement {
        @include clearfix;

        .floating-Section {
            background-color: $backgroudgray;
            text-align: center;
            margin: 2rem 2rem;

            $item-width: 90%;

            width: calc(#{$item-width}/1);

            @include breakpoint($small) {
                width: calc(#{$item-width}/2);
                float: left;
                height: 61rem;
            }


            @include breakpoint($medium) {
                width: calc(#{$item-width}/2);
                height: 55rem;
            }
        }
    }
}