#ourWork-Bg {
    @include backImage("../images/heroBg/ourWork-Bg.png", to left, 0, 0, 50% top);

    #ourWorkLink {
        padding: 6rem 0;

        @include breakpoint($small) {
            padding: 12rem 0;
        }
    }
}

#ourWork-info {
    .floating-OurWork {
        text-align: center;

        @include breakpoint($medium) {
            margin-bottom: 10rem;
        }


        @include clearfix;

        .floating-Section {
            background-color: $backgroudgray;
            text-align: center;
            margin: 2rem 1rem;
            padding: 2rem 0;

            $item-width: 90%;

            width: calc(#{$item-width}/1);

            @include breakpoint($small) {
                width: calc(#{$item-width}/2);
                float: left;
                height: 80rem;
                padding: 1rem;
            }


            @include breakpoint($medium) {
                width: calc(#{$item-width}/2);
                height: 60rem;
                padding: 4rem;
            }


            .padding {
                h3 {
                    text-align: left;
                    padding: 2rem 2rem;
                    font-size: 2.2rem;
                    letter-spacing: .5px;
                }

                p {
                    text-align: left;
                    font-size: 1.5rem;
                    letter-spacing: .3px;
                    padding-left: 2rem;
                    padding-bottom: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    .floatingElement {
        text-align: center;
        margin: 10rem 0;

        .floating-Section {
            margin-bottom: 2rem;

            @include clearfix;

            .image {
                background-color: $black;
                display: block;
                height: 30rem;

                $item-width: 100%;

                width: calc(#{$item-width}/1);
                float: left;

                @include breakpoint($small) {
                    width: calc(#{$item-width}/3);
                    height: 55rem;
                }


                @include breakpoint($medium) {
                    height: 44rem;
                }


                h3 {
                    text-align: center;
                    padding-top: 5rem;
                    font-size: 2rem;
                    color: $green;
                }

                img {
                    margin: 0 auto;
                    padding-top: 6rem;
                }
            }

            .floating-Text {
                background-color: $backgroudgray;
                height: 46rem;
                vertical-align: middle;
                display: table-cell;
                padding: 2rem 0;

                @include breakpoint($small) {
                    height: 55rem;
                }


                @include breakpoint($medium) {
                    padding: 2rem 4rem;
                    height: 44rem;
                }


                h3 {
                    text-align: left;
                }

                p {
                    text-align: left;
                    display: block;
                    line-height: 2rem;
                }
            }
        }
    }
}